.main {
    height: 100%;
    width: 100%;
}

.div1 {
    background-color: rgb(136, 188, 211);
    font-size: xx-large;
}

.div3 {
    background-color: rgb(34, 8, 59);
    height: 250px;
    width: 250px;
    margin-left: 1000px;
    position: sticky;
    z-index: 2;
    top: 200px;
}

.div2 {
    background-color: rgb(161, 115, 153);
    z-index: 2;
}