
.n1{
    background-color: black;
    height: 60px;
}
a{
    color: white;
}
a:hover{
        background-color: grey;
    }
.d1{
    display: inline-block;
    color: white;
}
#d1{
    margin-left: 900px;
}
#d2{
    margin-left: 30px;
}
#d3{
    margin-left: 30px;
}