* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#d1 {
    background-color: rgb(135, 135, 228);
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#d2 {
    background-color: rgb(173, 239, 115);
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#d3 {
    height: 25%;
    width: 100%;
    display: flex;
    gap: 5px;
}

#d4 {
    background-color: rgb(125, 55, 111);
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.s1 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.s2 {
    background-color: rgb(162, 212, 34);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#s1 {
    background-color: rgb(214, 78, 100);
    border: 2px solid black;
}

#s2 {
    background-color: rgb(214, 130, 78);

}

#s3 {
    background-color: rgb(201, 224, 71);
}